<%= render 'layouts/navbar' %>


            <section class="space--xxs">
                <div class="container">
                    <div class="row text-block">
                        <div class="col-md-12">
                            <h3>More recent stories</h3>
                        </div>
                    </div>
                    <div class="row">
                      <%	 @stories.each do |w| %>
                        <div class="col-md-4">
                            <article class="feature feature-1">
                              <%= link_to story_path(w), class: "block" do %>
                                <%= image_tag w.image %>
                              <% end %>
                                <div class="feature__body boxed boxed--border"> <em> Speaker: <%= w.speaker.name.titleize %></em>
                                    <h5><%= w.title.titleize %></h5>
                                    <%= link_to "Read More", story_path(w) %>
                                </div>
                            </article>
                        </div>
                        <%	 end %>
                    </div>
                </div>
            </section>
            
            <%= render 'layouts/footer' %>
