<div class="nav-container">
<div class="via-1526194339030" via="via-1526194339030" vio="top">
    <div class="bar bar--sm visible-xs">
        <div class="container">
            <div class="row">
                <div class="col-3 col-md-2">
                  <%= link_to root_path do %> <%= image_tag "img/logo-dark.png", class: "logo logo-dark" %> <%= image_tag "img/logo-light.png", class: "logo logo-light" %> <% end %>
                </div>
                <div class="col-9 col-md-10 text-right">
                    <a href="#" class="hamburger-toggle" data-toggle-class="#menu1;hidden-xs hidden-sm"> <i class="icon icon--sm stack-interface stack-menu"></i> </a>
                </div>
            </div>
        </div>
    </div>
    <nav id="menu1" class="bar bar-1 hidden-xs">
        <div class="container">
            <div class="row">
                <div class="col-lg-1 col-md-2 hidden-xs">
                    <div class="bar__module">
                        <%= link_to root_path do %> <%= image_tag "img/logo-dark.png", class: "logo logo-dark" %> <%= image_tag "img/logo-light.png", class: "logo logo-light" %> <% end %>
                    </div>
                </div>
                <div class="col-lg-11 col-md-12 text-right text-left-xs text-left-sm">
                    <div class="bar__module">
                        <ul class="menu-horizontal text-left">
                            <li> <%= link_to 'Home', root_path %> </li>
                            <li> <%= link_to 'Webinar', webinars_path %> </li>
                            <li> <%= link_to 'Stories', stories_path %> </li>
                            <li> <%= link_to 'Speaker', speakers_path %> </li>
                            <% if user_signed_in? %>
                              <% if current_user.level == "admin" %>
                            <li class="dropdown"> <span class="dropdown__trigger">Halo Admin!</span>
                                <div class="dropdown__container">
                                    <div class="container">
                                        <div class="row">
                                            <div class="dropdown__content col-lg-2">
                                                <ul class="menu-vertical">
                                                    <li> <%= link_to 'Stories', admin_stories_all_path %> </li>
                                                    <li> <%= link_to 'Speakers', admin_speaker_all_path %> </li>
                                                    <li> <a href="#">Webinar</a> </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <% end %> <% end %>
                        </ul>
                    </div>
                   <div class="bar__module">
                     <% if user_signed_in? %>
                       <%= link_to '#', class: "btn btn--sm type--uppercase" do %>
                         <span class="btn__text">
                           Hai, <%= current_user.name %>
                         </span>
                       <% end %>
                       <%= link_to destroy_user_session_path, method: :delete, class: "btn btn--sm btn--primary type--uppercase" do %>
                         <span class="btn__text">
                         Logout
                         </span>
                       <% end %>
                     <% else %>
                       <%= link_to new_user_registration_path, class: "btn btn--sm type--uppercase" do %>
                         <span class="btn__text">
                           Register
                         </span>
                       <% end %>
                       <%= link_to user_session_path, class: "btn btn--sm btn--primary type--uppercase" do %>
                         <span class="btn__text">
                         Login
                         </span>
                       <% end %>
                     <% end %>

                  </div>
                </div>
            </div>
        </div>
    </nav>
</div>
</div>
        <div class="main-container">
