<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= @meta_title ? @meta_title : ApplicationController::BRAND_NAME %></title>
    <% if @meta_description.present? %>
      <meta name="description" content="<%= truncate @meta_description, length: 160 %>">
    <% end %>
    <% if @meta_keyword.present? %>
      <meta name="keywords" content="<%= @meta_keyword %>">
    <% end %>
    <% if @og_properties.present? %>
     <%= meta_og_tags @og_properties %>
    <% end %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700" rel="stylesheet">
    <script src="https://cdn.ckeditor.com/4.9.2/full-all/ckeditor.js"></script>

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    


  </head>

  <body data-smooth-scroll-offset="77">

    <%= yield %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
